<!DOCTYPE html>
<html>
  <head>
      <title>PinPoint</title>
      <meta name="viewport" content="width=device-width">
      <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="instructor.js"></script>
      <link href="/main.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <div id="instructor_main">
      <h1><%= @average %></h1>
    </div>
    <script>
      $(function(){
        setBackground(<%= @average %>);
      });
    </script>
  </body>
</html>
