
@media screen and (min-width:768px){
  body{
    padding:10px 20%;
  }
}

input#student_range{
  width:100%;
}

.fr {
  float:right;
}

.fl {
  float:left;
}

#instructor_main{
  display:table;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#instructor_main h1{
  display:table-cell;
  vertical-align: middle;
  text-align:center;
  font-size:80px;
}

button{
  padding:10px;
  font-size:20px;
}
